* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.kontener {
  max-width: 1465px;
  max-height: 100vh;
  margin: 0 auto;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  position: relative;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  position: sticky;
  top: 0;
  max-width: 1465px;
}

.chapnavbar {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.chapnavbar img {
  background-color: #212121;
}

.ongnavbar {
  display: flex;
  align-items: center;
  color: white;
  gap: 16px;
}

.fa-youtube {
  color: red;
  font-size: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo h1 {
  color: white;
  font-size: 25px;
}

.ongnavbar img {
  color: #212121;
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

#search {
  padding: 10px 304px 10px 10px;
  background-color: #212121;
  border: 1px solid #303030;
  outline: none;
  color: #aaaaaa;
}

#lupa {
  border: none;
  padding: 10px 15px;
  outline: none;
  background-color: #303030;
  color: #ffffff;
}

#mic {
  padding: 10px 11px;
  background-color: #212121;
  color: #aaaaaa;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 5px;
}

.pages {
  display: flex;
  color: white;
  font-size: 14px;
  padding: 10px;
  gap: 24px;
  padding-left: 24px;
}

.pages i {
  font-size: 20px;
}

.pages:hover {
  background-color: #474747;
}

.box {
  display: flex;
}

.birBox {
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  border-top: none;
  border-right: none;
}

.ikkiBox {
  display: flex;
  gap: 12px;
  padding: 12px 12px 12px 12px;
  border: 1px solid;
  border-top: none;
  border-left: none;
  position: relative;
  background-color: #212121;
}
.ikkiBox.open{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ikkiBox b {
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  border-radius: 20px;
  color: white;
}

/* chapbox ochib yopish */
.chapbox {
  padding-top: 10px;
  transition: 4.5s ease-in;
  display: none;
  position: relative;
  left: -200px;
  overflow:auto;
  max-height: 100vh;
  background-color: #212121;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #212121a9;
  border-radius: 7px;
  color:white;
}
::-webkit-scrollbar-track{
  background: #686868;
}
.chapbox.open {
  padding-top: 10px;
  transition: 4.5s ease-out;
  display: block;
  position: relative;
  left: 0;
}

.ikkiBox b:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.kantakt {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 24px;
  padding: 10px;
}

.kantakt b {
  color: white;
}

.pages a {
  color: white;
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

.card img {
  width: 200px;
}

.videos {
  padding: 10px;
  background-color: black;
}

.videolar {
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5 - 10px));
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: black;
}

.cardlar {
  overflow: scroll;
  background-color: black;
  padding: 20px;
}

.card {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  outline: none;
  border: none;
}

.card .profile {
  width: 20px;
}

.cardlar {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.nomi {
  color: white;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 10px;
  padding-top: 0;
  padding-right: 20px;
}

.nomi b {
  font-size: 9px;
}

.tit p {
  font-size: 8px;
}

.yol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  background-color: black;
}

.ongyol {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
}
.chapbox .logo{
  display:none;
}
.chapbox .nav_hamburger{
  display: none;
} 

.substicriptons .kantakt img {
  width: 20px;
}

.boxes {
  display: flex;
}

.iframe {
  display: flex;
}

.fa-folder-plus:hover {
  background-color: rgba(255, 255, 255, 0.219);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-bell:hover {
  background-color: rgba(255, 255, 255, 0.219);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.ongnavbar img:hover {
  cursor: pointer;
}

.explore {
  display: flex;
}

.cardsh .videolar {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 0px));
  gap: 10px;
  text-align: center;
}

.cardsh .videolar img {
  width: 90px;
  padding-bottom: 60px;
}

.cardsh .videolar .videos {
  border: 0.5px solid rgba(255, 255, 255, 0.164);
  padding-top: 100px;
}

.obuna {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 130px;
}

.obunas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.obuna img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.219);
}

.salom {
  display: flex;
  width: 100%;
}

.ongsalom {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: black;
  width: 100%;
}

.obunachila {
  background-color: black;
}
.cardx{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
.ongsalom .ikkiBox {
  background-color: #212121;
}

.padpischik {
  display: flex;
}

.history {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 600px;
  gap: 24px;
  width: 100%;
  height: 100vh;
}

.kitoblar {
  display: flex;
}

.fa-clock-rotate-left {
  font-size: 75px;
}



.fa-notes-medical {
  font-size: 75px;
}

#voyti {
  border: 1px solid;
  padding: 8px 15px 8px 35px;
  border-radius: 20px;
}

#voyti:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px 15px;
}

.pages::before {
  background-color: #212121ae;
}

.videosm {
  display: flex;
}

.tits {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tits p {
  font-size: 10px;
}

.videoss {
  display: flex;
}

.videolars {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 10px));
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: black;
}

.yours {
  display: flex;
}

#acc {
  border: 1px solid;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  margin: 10px;
}

.accaunt {
  padding: 30px 10px;
  color: white;
  font-size: 13px;
  width: 200px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.196);
  text-align: center;
}
.blog {
  display: flex;
}
.qora{
  width: 100%;
  background-color: black;
}
.ongexplore{
  width: 100%;
}
.ongBox{
  width: 100%;
}
.cardlar{
  width: 100%;
}
.chapbox .ongnavbar{
  display: none;
}
.ongkitob{
  width: 100%;
  height: 100vh;
}

